<h1>App State</h1>

<label>Current ID:</label>
<input type="text" data-id="currentId" value="{{currentId}}">

<br><br>

<button class="clear">Clear Logs</button>

<br><br>

<label>TableModel Events<label>
<br>
<textarea cols="100" rows="10">{{logs.tablemodel}}</textarea>

<br>

<label>AggModel Events<label>
<br>
<textarea cols="100" rows="10">{{logs.aggmodel}}</textarea>
<br>
<button class="clear aggmodel">Clear</button>
